#this is an example of the .env file, which should be created by copying this file and filling in the actual API key. The 
#.env file is used to store environment variables, such as API keys, in a secure way that is not included in version control.
#make a .env file
#Copy this file to .env and add your actual key
GEMINI_API_KEY=your_key_here